<ion-header>
  <ion-navbar>    
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-list inset *ngIf="questionarios.length > 0" no-padding>
    <ion-item class="itemQuestionario" *ngFor="let questionario of questionarios"
    (click)= 'abrirQuestionario(questionario)'>
      <p>{{questionario.sigla}} - {{questionario.questionario}}</p>
      <span>{{questionario.restaurante}}</span><br>
      <span>{{questionario.dataResp}}</span>
      <!-- <ion-icon name="{{questionario.tipo == 'Saúde' ? 'add-circle' : questionario.tipo == 'Segurança' ? 'beer' : 'appstore'}}"></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-content>