<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Restaurantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list inset>
    <ion-item *ngFor="let restaurante of restaurantes" (click)= 'goToQuestionarios(restaurante)'>
      <p>{{restaurante.nome}}</p>      
      <span>SIGLA: {{restaurante.sigla}}</span>      
    </ion-item>
  </ion-list>

</ion-content>
