page-home {
    .signup-background {
        background-color: #60c2e5;
        background-image: url('../../assets/imgs/icon-36.png');
        background-size: 32%;
        background-position-x: 0%;
        background-position-y: 10%;
    }
}

