<ion-header>

  <ion-navbar>
    <ion-title>swipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card (swipe)="swipeEvent($event)" class="myCard" #myCard [@buttonState]='state'> 
      <p>{{questao.pergunta}}</p><br>
      <span>PESO: {{questao.peso}}</span>
  
      <div *ngIf="questao.tipo == 1" no-padding>
        <ion-item>
          <ion-label floating ion-text>Resposta:</ion-label>
          <ion-input type="text" [(ngModel)]="questao.resposta" name="resposta" required></ion-input>
        </ion-item>
      </div>
  
      <div *ngIf="questao.tipo == 2" no-padding>
        <ion-item>
          <ion-label floating ion-text>Resposta:</ion-label>
          <ion-input type="number" [(ngModel)]="questao.resposta" name="resposta" required></ion-input>
        </ion-item>
      </div>
  
  
      <div *ngIf="questao.tipo == 3" no-padding>
        <ion-item>
            <ion-label ion-text color="branco">Respostas</ion-label>
            <ion-select [(ngModel)]="questao.resposta" name="resposta" multiple="true">
                <ion-option ion-text *ngFor="let opcao of questao.opcao" value="{{opcao}}" type="text">{{opcao}}</ion-option>
            </ion-select>  
        </ion-item>
      </div>
  
      <div *ngIf="questao.tipo == 4" no-padding>
        <ion-item>
            <ion-label ion-text color="branco">Respostas</ion-label>
            <ion-select [(ngModel)]="questao.resposta" name="resposta" >
                <ion-option ion-text *ngFor="let opcao of questao.opcao" value="{{opcao}}" type="text">{{opcao}}</ion-option>
            </ion-select>  
        </ion-item>
      </div>


      <ion-row>
        <ion-col col-4 col-sm-4 col-md-4>
            <div [ngClass]="{'clicado': questao.resposta == 'SIM', 'naoClicado': questao.resposta != 'SIM'}"
            (click)="responder(questao, 'SIM')">
              <span ion-text>
                SIM</span>            
            </div>
        </ion-col>
        <ion-col col-4 col-sm-4 col-md-4>
            <div [ngClass]="{'clicado': questao.resposta == 'NAO', 'naoClicado': questao.resposta != 'NAO'}"
            (click)="responder(questao, 'NAO')">
              <span ion-text>
                NAO</span>            
            </div>
        </ion-col>
        <ion-col col-4 col-sm-4 col-md-4>
            <div [ngClass]="{'clicado': questao.resposta == 'NAO SE APLICA', 'naoClicado': questao.resposta != 'NAO SE APLICA'}"
            (click)="responder(questao, 'NAO SE APLICA')">
              <span ion-text>
                NAO SE APLICA</span>            
            </div>
        </ion-col>
      </ion-row>
<!-- 
      <button ion-button icon-left full (click)="responder(questao, 'SIM')">
          <ion-icon name="log-in" left></ion-icon>
          &nbsp;&nbsp;&nbsp;SIM
      </button>

      <button color="danger" ion-button icon-left full (click)="responder(questao, 'NAO')">
          <ion-icon name="log-in" left></ion-icon>
          &nbsp;&nbsp;&nbsp;NÃO
      </button>

      <button color="danger" ion-button icon-left full (click)="responder(questao, 'NAO SE APLICA')">
          <ion-icon name="log-in" left></ion-icon>
          &nbsp;&nbsp;&nbsp;NÃO SE APLICA
      </button> -->


  </ion-card>

  <ion-footer>
      <button ion-button icon-left full (click)="salvarRespostas()">
          <ion-icon name="log-in" left></ion-icon>
          &nbsp;&nbsp;&nbsp;SALVAR
      </button>
  </ion-footer>

</ion-content>
