page-swipe {
  .myCard{
    height: calc(100vh - 160px);
    min-height: calc(100vh - 160px);

    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
  }

  .clicado {
    display : flex;
    align-items: center;
    justify-content: center;
    background-color : blue;
    color : white;
    min-height : 40px;

  }

  .naoClicado {
    display : flex;
    align-items: center;
    justify-content: center;
    background-color : grey;
    min-height : 40px;
  }
}
