<ion-header>

  <ion-navbar>
    <ion-title>fichaQuestionario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <ion-item>
      <ion-label floating ion-text>Data resposta:</ion-label>
      <ion-input type="date" [(ngModel)]="questService.questionario.data" name="data" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating ion-text>Hora resposta:</ion-label>
      <ion-input type="time" [(ngModel)]="questService.questionario.hora" name="hora" required></ion-input>
    </ion-item>



  <ion-card *ngFor="let questao of questionario" padding>
    <p>{{questao.pergunta}}</p><br>
    <span>PESO: {{questao.peso}}</span>

    <div *ngIf="questao.tipo == 1" no-padding>
      <ion-item>
        <ion-label floating ion-text>Resposta:</ion-label>
        <ion-input type="text" [(ngModel)]="questao.resposta" name="resposta" required></ion-input>
      </ion-item>
    </div>

    <div *ngIf="questao.tipo == 2" no-padding>
      <ion-item>
        <ion-label floating ion-text>Resposta:</ion-label>
        <ion-input type="number" [(ngModel)]="questao.resposta" name="resposta" required></ion-input>
      </ion-item>
    </div>


    <div *ngIf="questao.tipo == 3" no-padding>
      <ion-item>
          <ion-label ion-text color="branco">Respostas</ion-label>
          <ion-select [(ngModel)]="questao.resposta" name="resposta" multiple="true">
              <ion-option ion-text *ngFor="let opcao of questao.opcao" value="{{opcao}}" type="text">{{opcao}}</ion-option>
          </ion-select>  
      </ion-item>
    </div>

    <div *ngIf="questao.tipo == 4" no-padding>
      <ion-item>
          <ion-label ion-text color="branco">Respostas</ion-label>
          <ion-select [(ngModel)]="questao.resposta" name="resposta" >
              <ion-option ion-text *ngFor="let opcao of questao.opcao" value="{{opcao}}" type="text">{{opcao}}</ion-option>
          </ion-select>  
      </ion-item>
    </div>
    
  </ion-card>

  <div padding>
    <button ion-button icon-left full (click)="salvarRespostas()" *ngIf="questionario.length > 0">
      <ion-icon name="log-in" left></ion-icon>
      &nbsp;&nbsp;&nbsp;SALVAR
    </button>

  </div>

</ion-content>
