<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-item-divider>
        <span class="dividerMenu">Questionários</span>
    </ion-item-divider>

    <ion-list>
      <div *ngFor="let p of pages; let i = index">
        <button menuClose ion-item (click)="openPage(p)">
          <ion-icon name="{{listaIcones[i]}}" item-left color="primary"></ion-icon>
          <span ion-text color="{{listaCores[i]}}">{{p.title}}</span>
        </button>
      </div>
      <button menuClose ion-item (click)="sincronizar()">
        <ion-icon name="sync" item-left color="secondary"></ion-icon>
        <span ion-text color="secondary">Sincronizar</span>
      </button>
      <button menuClose ion-item (click)="logOff()">
        <ion-icon name="power" item-left color="danger"></ion-icon>
        <span ion-text color="danger">LogOff</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>